*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;

}
.container
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circles
{
    position: relative;
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
    border-top: 4px solid #BF00FF55;
    border-radius: 50%;
    margin: -30px;
    /* box-shadow: 0 0 10px #BF00FF,0 0 20px #BF00FF, 0 0 40px #BF00FF, 0 0 60px #BF00FF, 0 0 80px #BF00FF, 0 0 100px #BF00FF; */
                
    filter: drop-shadow(0 0 10px #BF00FF)drop-shadow(0 0 30px #BF00FF)drop-shadow(0 0 50px #BF00FF);
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg); 
        /* filter: hue-rotate(0deg); */
    }
    100%
    {
        transform: rotate(360deg);
        /* filter: hue-rotate(360deg); */
    }
}
.circles::before
{
    content: '\f135';
    position: absolute;
    top: 10px;
    right: -4px;
    rotate: 90deg;
    font-family: fontAwesome;
    color: #BF00FF;
    font-size: 2em;
}
.circles:nth-child(2)
{
    border: 4px solid transparent;
    border-left: 4px solid #FF5F1F55;
    filter: drop-shadow(0 0 10px #FF5F1F)drop-shadow(0 0 30px #FF5F1F)drop-shadow(0 0 50px #FF5F1F);
    animation: animate2 4s linear infinite;
    animation-delay: -1s
}
.circles:nth-child(2)::before
{
    content: '\f072';
    top: initial;
    bottom: -6px;
    left: 12px;
    right: initial;
    rotate: 45deg;
    color: #FF5F1F
}
@keyframes animate2
{
    0%
    {
        transform: rotate(360deg);

    }
    100%
    {
        transform: rotate(0deg);
        
    }
}
.circles:nth-child(3)
{
    position: absolute;
    top: -66.66px;
    border: 4px solid transparent;
    border-left: 4px solid #00FFFF55;
    filter: drop-shadow(0 0 10px #00FFFF)drop-shadow(0 0 30px #00FFFF)drop-shadow(0 0 50px #00FFFF);
    animation: animate2 4s linear infinite;
    animation-delay: -3s
}
.circles:nth-child(3)::before
{
    content: '\e518';
    rotate: 135deg;
    top: initial;
    right: initial;
    bottom: -6px;
    left: 12px;
    color: #00FFFF;
}







